@import "content-type/_product-card.style.less";
@import "content-type/_slider.style.less";
@import "content-type/_guarantees.style.less";
@import "content-type/_image-with-text.style.less";
@import "content-type/_image-banner.style.less";
@import "content-type/_collage.style.less";
@import "content-type/_categories.style.less";
@import "content-type/_rich-text.style.less";
@import "content-type/_faq.style.less";
@import "content-type/_quotes.style.less";
@import "content-type/_before-and-after.style.less";
@import "content-type/_video.style.less";
@import "content-type/_video-hero.style.less";
@import "content-type/_countdown.style.less";
@import "content-type/_shop-the-look.style.less";
@import "content-type/_newsletter.style.less";
@import "content-type/_menu.style.less";

.pagebuilder-content-type .content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

.pagebuilder-content-type.pagebuilder-wysiwyg .inline-wysiwyg + .placeholder-text {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
}

.pagebuilder-wygiwyg-text-content {
  position: relative;
}

.admin__action-multiselect-wrap._active .action-menu._active {
  z-index: 10;
}
