.button {
  @apply focus-visible:focus-ring relative inline-flex h-11 cursor-pointer touch-manipulation items-center justify-center whitespace-nowrap rounded-sm px-6 text-md font-medium leading-tight transition-all duration-200;

  @screen md {
    @apply h-12;
  }

  &--size {
    &-sm {
      @apply h-9 min-w-9 px-5 text-sm;
    }

    &-md {
      @apply rounded-sm px-6 py-3;
    }
  }

  &--filled {
    &-primary {
      @apply bg-primary-800 text-text-on-primary-bg;

      &:not(.button--disabled) {
        @apply md:hover:bg-primary-700;
      }
    }

    &-secondary {
      @apply bg-bg-400 text-primary-600;

      &:not(.button--disabled) {
        @apply md:hover:bg-bg-600;
      }
    }
  }

  &--outline {
    &-primary {
      @apply border-1 border-solid border-primary-600 bg-transparent text-primary-600;

      &:not(.button--disabled) {
        @apply md:hover:border-primary-700 md:hover:bg-primary-700 md:hover:text-bg-500;
      }
    }

    &-secondary {
      @apply border-1 border-solid border-text-700 bg-transparent;

      &:not(.button--disabled) {
        @apply md:hover:border-primary-500 md:hover:bg-bg-400 md:hover:text-primary-500 md:active:bg-bg-100;

        &.group-hoverable {
          @apply md:group-hover:border-primary-500 md:group-hover:bg-bg-400 md:group-hover:text-primary-500 md:group-active:bg-bg-100;
        }
      }

      &.selected {
        @apply border-current text-primary-600;

        &:not(.button--disabled) {
          @apply md:hover:bg-primary-50 md:active:bg-primary-100;
        }
      }
    }
  }

  &--ghost {
    &-primary {
      @apply bg-transparent text-primary-500;

      &:not(.button--disabled) {
        @apply md:hover:bg-bg-600;
      }
    }

    &-secondary {
      @apply bg-transparent text-secondary-600;

      &:not(.button--disabled) {
        @apply md:hover:bg-secondary-500;
      }
    }
  }

  &--disabled {
    @apply cursor-not-allowed opacity-50 #{!important};
  }

  &__icon {
    @apply relative inline-flex shrink-0 items-center justify-center;

    svg {
      @apply icon;
    }

    &--left {
      @apply mr-3;
    }

    &--right {
      @apply ml-3;
    }
  }
}
