:root {
  --minicart-width: 400px;

  --wishlist-width: 400px;

  --account-width: 200px;

  --search-width: 450px;

  @screen lg {
    --search-width: 700px;
  }

  @screen xl {
    --search-width: 800px;
  }
}

.header {
  --button-gap: theme(space.5);
  --button-width: 56px;

  .resizable {
    --b-radius: 0;
    --b-delay: 450ms;

    transition: transform 300ms 300ms ease-in-out;
    @apply motion-reduce:transition-none;

    &:first-of-type {
      --b-tl-radius: theme(borderRadius.md);
      --b-bl-radius: theme(borderRadius.md);

      &.resizable--visible {
        /* is the active container */
      }
    }

    &:last-of-type {
      --b-tr-radius: theme(borderRadius.md);
      --b-br-radius: theme(borderRadius.md);

      &.resizable--visible {
        /* is the active container */
      }
    }

    &:has(+ .resizable--visible) {
      /* comes before the active container */
      --b-tr-radius: theme(borderRadius.md);
      --b-br-radius: theme(borderRadius.md);

      .resizable__corner--tr,
      .resizable__corner--br {
        --b-delay: 0ms;
      }
    }

    &--visible {
      --b-radius: theme(borderRadius.md);
      --b-delay: 0ms;

      transition-delay: 0ms;

      + .resizable {
        /* comes after the active container */
        --b-tl-radius: theme(borderRadius.md);
        --b-bl-radius: theme(borderRadius.md);

        .resizable__corner--tl,
        .resizable__corner--bl {
          --b-delay: 0ms;
        }
      }
    }

    &--search {
      &.resizable--visible {
        transform: translateX(
          calc(
            (var(--content-wrapper-width) / -2 * 1px) +
              (var(--target-width) / 2 * 1px) +
            (var(--button-width) + var(--button-gap) * 2)
          )
        );
      }

      //
      //&:has(~ .resizable--wishlist.resizable--visible) {
      //  transition-delay: 100ms;
      //
      //  /* has wishlist active */
      //  transform: translateX(calc((var(--wishlist-width) - var(--button-width) + var(--button-gap) * 2) *-1));
      //}

      &:has(~ .resizable--account.resizable--visible) {
        transition-delay: 100ms;

        /* has account active */
        transform: translateX(calc((var(--account-width) - var(--button-width) + var(--button-gap) * 2) * -1)
        );
      }

      &:has(~ .resizable--cart.resizable--visible) {
        transition-delay: 100ms;

        /* has cart active */
        transform: translateX(calc((var(--minicart-width) - var(--button-width) + var(--button-gap)) * -1));
      }
    }

    //&--wishlist,
    &--account {
      &.resizable--visible {
        @screen md {
          transform: translateX(calc(var(--button-gap) * -1));
        }
      }

      &:has(~ .resizable--cart.resizable--visible) {
        @screen md {
          transition-delay: 100ms;

          /* has cart active */
          transform: translateX(calc((var(--minicart-width) - var(--button-width) + var(--button-gap)) * -1));
        }
      }
    }
  }
}
