.radio {
  @apply mb-4 flex cursor-pointer items-center;

  &__control {
    @apply flex-none inline-flex h-6 w-6 items-center justify-center rounded-full border border-solid border-text-400 text-md text-bg-500 transition-colors duration-200;

    .radio:hover & {
      @apply md:border-primary-500 md:bg-bg-400;
    }
  }

  &__label {
    @apply ml-5;

    .radio:hover & {
      @apply md:text-primary-500;
    }
  }

  &__input {
    @apply absolute h-1 w-1 overflow-hidden whitespace-nowrap border-0 p-0;

    margin: -1px;
    clip: rect(0px, 0px, 0px, 0px);

    &:focus-visible + .radio__control {
      @apply focus-ring;
    }

    &[checked] + .radio__control {
      @apply border-primary-500 bg-primary-500;

      &::before {
        @apply h-1/2 w-1/2 rounded-full bg-current content-[''];
      }
    }

    &[checked] ~ .radio__label {
      @apply font-semibold text-primary-500;
    }
  }
}
