<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="Magento\Checkout\Controller\Cart\CouponPost"
        type="Satoshi\Checkout\Controller\Cart\CouponPost"
    />
    <preference
        for="Magento\Checkout\Controller\Cart\Add"
        type="Satoshi\Checkout\Controller\Cart\Add"
    />
    <preference
        for="Magento\Checkout\Controller\Cart\UpdatePost"
        type="Satoshi\Checkout\Controller\Cart\UpdatePost"
    />
    <preference
        for="Magento\Checkout\Controller\Cart\Addgroup"
        type="Satoshi\Checkout\Controller\Cart\Addgroup"
    />
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="cartdata.carttotals" type="Satoshi\Checkout\CustomerData\CartPlugin"/>
    </type>
</config>
