:root {
  --menu-width: 250px;
  --menu-links-container-max-height: calc(100dvh - 132px);
}

.menu {
  &__wrapper {
    @apply relative flex-grow;

    @screen md {
      @apply flex;
    }
  }

  &__level {
    @apply absolute left-0 top-0 hidden w-full;

    @screen md {
      /* animate content to fade OUT */
      @apply static flex h-0 w-0 flex-col overflow-clip pb-2 opacity-0;

      transition: opacity 300ms 0ms;
    }

    &:not(.menu__level--visible) {
      @apply pointer-events-none;
    }

    &--current {
      @screen max-md {
        @apply block;
      }
    }

    &--visible {
      @screen md {
        /* animate content to fade IN */
        @apply h-auto w-[--menu-width] opacity-100;

        /* instant width -> wait for container -> opacity */
        transition: opacity 300ms 400ms;

        &:not(:first-child) {
          @apply border-bg-600 border-l-1;
        }
      }
    }

    &--same-depth {
      @screen md {
        /* transition: opacity 0ms 0ms; */
      }
    }
  }

  &__header {
    @apply bg-bg-500 sticky top-[42px] z-10 flex flex-col gap-3 px-3 pt-6;

    @screen md {
      @apply from-bg-500 top-0 rounded-t-md bg-transparent bg-gradient-to-b from-70% p-5 pb-4 pl-4;
    }
  }

  &__header-container {
    @apply relative -mt-3 overflow-hidden;
    /* py-3; */

    @screen md {
      @apply flex;
      /* pl-2; */
    }
  }

  &__back-button {
    @apply button button--ghost-primary icon-button icon-button--size-md absolute inset-y-2 left-2 m-auto h-8 w-8 min-w-8 -translate-x-full transition-transform duration-300;

    @screen md {
      @apply hidden;
    }

    &--visible {
      @apply translate-x-0;
    }
  }

  &__heading {
    @apply truncate translate-x-[52px] text-lg text-text-500 transition-transform duration-300;

    @screen md {
      @apply flex-1 translate-x-0 text-md;
    }

    &--root {
      @apply translate-x-0;

      @screen md {
        @apply translate-x-[52px];
      }
    }
  }

  &__links {
    @apply flex flex-col gap-3 px-3 py-3 pt-12;

    @screen md {
      @apply max-h-[--menu-links-container-max-height] flex-grow overflow-auto p-5 pt-2;
    }
  }

  &__link {
    @apply focus-visible:focus-ring flex min-h-11	w-full items-center justify-between py-1;

    &--active {
      @apply font-bold text-primary-500;
    }
  }
}
