:root {
  --minicart-width: 400px;
}

.minicart {
  &__items {
    @apply relative flex flex-col gap-5 rounded-xl p-5;

    @screen md {
      @apply gap-0 px-4 py-0;
      width: var(--minicart-width);
    }
  }
  &__form {
    @apply flex flex-col gap-5;

    @screen md {
      @apply pe-3  gap-4  pt-4;
    }
  }

  &__header--wrapper {
    @apply z-10 flex items-center justify-between bg-white px-2;

    @screen md {
      @apply sticky top-0 py-5;
      height: var(--initial-height);
    }
  }
}
