/* TODO: move to template to avoid layout shift */

@screen md {
  .resizable {
    @apply relative block motion-reduce:transition-none;

    --corner-size-unitless: 10;
    --corner-size: calc(var(--corner-size-unitless) * 1px);

    --scale-x: calc(
      (var(--target-width) - (var(--corner-size-unitless) * 2)) /
        (var(--initial-width) - (var(--corner-size-unitless) * 2))
    );
    --scale-y: calc(
      (var(--target-height) - (var(--corner-size-unitless) * 2)) /
        (var(--initial-height) - (var(--corner-size-unitless) * 2))
    );

    --bg-extension-unitless: 4;
    --bg-scale-x: calc(
      (var(--target-width) - (var(--bg-extension-unitless) * 2)) /
        (var(--initial-width) - (var(--bg-extension-unitless) * 2))
    );
    --bg-scale-y: calc(
      (var(--target-height) - (var(--bg-extension-unitless) * 2)) /
        (var(--initial-height) - (var(--bg-extension-unitless) * 2))
    );

    --translate-x: calc(var(--target-width) * 1px - var(--initial-width) * 1px);
    --translate-y: calc(
      var(--target-height) * 1px - var(--initial-height) * 1px
    );

    --t-delay: 150ms;
    --b-delay: 0ms;
    --b-radius: theme("borderRadius.md");
    --border-top-left-radius: var(--b-tl-radius, var(--b-radius));
    --border-top-right-radius: var(--b-tr-radius, var(--b-radius));
    --border-bottom-left-radius: var(--b-bl-radius, var(--b-radius));
    --border-bottom-right-radius: var(--b-br-radius, var(--b-radius));

    width: calc(var(--initial-width) * 1px);
    height: calc(var(--initial-height) * 1px);

    &__wrapper {
      @apply absolute inset-0;
    }

    &__corner,
    &__side,
    &__bg,
    &__full-w,
    &__full-h,
    &__fixed {
      transition: transform 300ms var(--t-delay) ease-in-out,
        border-radius 300ms var(--b-delay) ease-in-out;

      @apply origin-top-left motion-reduce:transition-none;
      .resizable--right & {
        @apply origin-top-right;
      }

      .resizable--transitioning & {
        --t-delay: 0ms;
      }
    }

    &__corner {
      /* @apply bg-red-500; */

      transition-property: transform, border-radius;
      @apply absolute bg-bg-400 motion-reduce:transition-none;
      width: var(--corner-size);
      height: var(--corner-size);

      &--tl {
        @apply left-0 top-0;

        border-top-left-radius: var(--border-top-left-radius);

        .resizable--right & {
          transform: translateX(calc(var(--translate-x) * -1));
        }
      }

      &--tr {
        @apply right-0 top-0;

        border-top-right-radius: var(--border-top-right-radius);

        &:not(.resizable--right &) {
          transform: translateX(var(--translate-x));
        }
      }

      &--bl {
        @apply bottom-0 left-0;

        border-bottom-left-radius: var(--border-bottom-left-radius);

        &:not(.resizable--right &) {
          transform: translateY(var(--translate-y));
        }

        .resizable--right & {
          transform: translate(
            calc(var(--translate-x) * -1),
            var(--translate-y)
          );
        }
      }

      &--br {
        @apply bottom-0 right-0;

        border-bottom-right-radius: var(--border-bottom-right-radius);

        &:not(.resizable--right &) {
          transform: translate(var(--translate-x), var(--translate-y));
        }

        .resizable--right & {
          transform: translateY(var(--translate-y));
        }
      }
    }

    &__side {
      @apply absolute bg-bg-400;

      /* @apply bg-blue-500; */

      &--b,
      &--t {
        left: var(--corner-size);
        right: var(--corner-size);
        height: var(--corner-size);
      }

      &--t {
        top: 0;
        transform: scaleX(var(--scale-x));
      }

      &--b {
        bottom: 0;
        transform: scaleX(var(--scale-x)) translateY(var(--translate-y));
      }

      &--r,
      &--l {
        top: var(--corner-size);
        bottom: var(--corner-size);
        width: var(--corner-size);
      }

      &--r {
        right: 0;

        &:not(.resizable--right &) {
          transform: scaleY(var(--scale-y)) translateX(var(--translate-x));
        }

        .resizable--right & {
          transform: scaleY(var(--scale-y));
        }
      }

      &--l {
        left: 0;

        &:not(.resizable--right &) {
          transform: scaleY(var(--scale-y));
        }

        .resizable--right & {
          transform: scaleY(var(--scale-y))
            translateX(calc(var(--translate-x) * -1));
        }
      }
    }

    &__bg {
      @apply absolute z-10 bg-bg-400;

      .resizable--cart & {
        @apply bg-bg-500;
      }

      inset: calc(var(--bg-extension-unitless) * 1px);
      transform: scale(var(--bg-scale-x), var(--bg-scale-y));
    }

    &__content {
      @apply absolute top-0 z-20 -mx-[1px] rounded-md transition-opacity delay-450 duration-300 motion-reduce:transition-none;

      .resizable--right & {
        right: 1px;
      }

      &:not(.resizable--right &) {
        left: 1px;
      }

      &--trigger {
        @apply flex h-full w-full items-center justify-center;

        .resizable--visible & {
          @apply pointer-events-none opacity-0 delay-0;
        }
      }

      &--portal {
        @apply pointer-events-none opacity-0 delay-0;

        max-height: calc(100dvh - 16px * 2 - 34px);

        .resizable--visible & {
          @apply pointer-events-auto opacity-100 delay-450;
        }
      }
    }

    &__scroll {
      @apply overflow-hidden;

      max-height: calc(100dvh - 16px * 2 - 34px);
    }

    &__fixed {
      @apply pointer-events-none absolute top-0 z-30 opacity-0 motion-reduce:transition-none;

      transition: width 0ms 600ms ease-in-out, opacity 300ms ease-in-out,
        transform 300ms var(--t-delay) ease-in-out,
        border-radius 300ms var(--b-delay) ease-in-out;

      width: calc(var(--target-width) * 1px);
      transform: translateY(
        calc(
          -100% + min(calc(var(--target-height) * 1px), calc(100dvh - 16px * 2 -
                  34px))
        )
      );

      .resizable--right & {
        @apply right-0;
      }

      .resizable--left & {
        @apply left-0;
      }

      .resizable--visible & {
        @apply opacity-100;

        transition: opacity 300ms calc(var(--t-delay) * 2) ease-in-out,
          transform 300ms var(--t-delay) ease-in-out,
          border-radius 300ms var(--b-delay) ease-in-out;
      }

      > * {
        @apply pointer-events-none;

        .resizable--visible & {
          @apply pointer-events-auto;
        }
      }
    }

    & &__full {
      &-w {
        @apply w-[1px];
        transform: scaleX(calc(var(--target-width) - var(--full-w-offset, 0)));
      }

      &-h {
        @apply h-[1px];
        transform: scaleY(calc(var(--target-height) - var(--full-h-offset, 0)));
      }
    }
  }
}
