<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="satoshi_theme" translate="label" sortOrder="100">
            <label>Satoshi Theme</label>
        </tab>
        <section id="satoshi_theme_general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <tab>satoshi_theme</tab>
            <resource>Satoshi_Theme::config</resource>
            <group id="navigation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Navigation</label>
                <field id="type" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Navigation Type</label>
                    <comment>Choose between Single Page Application or Multi Page Application</comment>
                    <source_model>Satoshi\Theme\Model\Config\Source\NavigationType</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
