.image-with-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-with-text__content,
.image-with-text__content--first,
.image-with-text__content--second {
  display: flex;
  flex-direction: column;
  align-self: start;
  gap: 16px;
}

.image-with-text__title {
  color: #363030;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.image-with-text__button {
  background-color: #181818;
  color: #fff;
  display: inline-flex;
  height: 3rem;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.image-with-text__button:hover,
.image-with-text__button:focus {
  background-color: #525e4f;
  color: #fff;
}

.image-with-text__image {
  border-radius: 12px;
  overflow: hidden;
}

.image-with-text__image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-with-text__image svg {
  width: 100%;
  object-fit: cover;
  background-color: #f5f5f5;
  min-height: 300px;
  object-position: center;
}

.image-with-text__wysiwyg {
  color: #363030 !important;
  margin-bottom: 12px !important;
  font-size: 16px !important;
}

@media (min-width: 768px) {
  .image-with-text {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 5rem;
  }

  .image-with-text__content,
  .image-with-text__content--first,
  .image-with-text__content--second {
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 24px;
  }

  .image-with-text__content--first {
    padding-right: 3rem;
  }

  .image-with-text__content--second {
    padding-left: 3rem;
  }

  .image-with-text__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .image-with-text__button {
    height: 4rem;
  }

  .image-with-text__image img {
    height: 100%;
  }

  .image-with-text__image svg {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .image-with-text {
    gap: 24px;
  }
}
