<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="Magento\Catalog\Block\Product\ProductList\Toolbar"
        type="Satoshi\Catalog\Block\Product\ProductList\Toolbar"
    />
    <preference
        for="Magento\Catalog\Model\Layer\Filter\Item\DataBuilder"
        type="Satoshi\Catalog\Model\Layer\Filter\Item\DataBuilder"
    />
    <preference
        for="Magento\Catalog\Model\Layer\Filter\Item"
        type="Satoshi\Catalog\Model\Layer\Filter\Item"
    />
    <preference
        for="Magento\Catalog\Block\Product\AbstractProduct"
        type="Satoshi\Catalog\Block\Product\AbstractProduct"
    />
</config>
