<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <satoshi_theme>
            <theme_config>
                <navigation_type>MPA</navigation_type>
            </theme_config>
        </satoshi_theme>
    </default>
</config>
