<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\TemplateEngine\Php">
        <plugin
            name="utilities_template_engine_plugin"
            type="Satoshi\Theme\Plugin\TemplateEngine\SharedVariablesPlugin"
        />
    </type>
    <preference
        for="Hyva\Theme\Service\Navigation"
        type="Satoshi\Theme\Service\Navigation"
    />
    <preference
        for="Hyva\Theme\ViewModel\ProductListItem"
        type="Satoshi\Theme\ViewModel\ProductListItem"
    />
    <preference
        for="Hyva\Theme\ViewModel\SvgIcons"
        type="Satoshi\Theme\ViewModel\SvgIcons"
    />
    <preference
        for="Magento\Theme\Block\Html\Footer"
        type="Satoshi\Theme\Block\Html\Footer"
    />
</config>
