<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference
        for="Magento\CatalogSearch\Controller\Advanced\Result"
        type="Satoshi\CatalogSearch\Controller\Advanced\Result"
    />
    <preference
        for="Magento\CatalogSearch\Block\Advanced\Form"
        type="Satoshi\CatalogSearch\Block\Advanced\Form"
    />
    <preference
        for="Magento\CatalogSearch\Model\Layer\Filter\Attribute"
        type="Satoshi\CatalogSearch\Model\Layer\Filter\Attribute"
    />
    <preference
        for="Magento\CatalogSearch\Model\Layer\Filter\Price"
        type="Satoshi\CatalogSearch\Model\Layer\Filter\Price"
    />
    <preference
        for="Magento\CatalogSearch\Model\Layer\Filter\Category"
        type="Satoshi\CatalogSearch\Model\Layer\Filter\Category"
    />
</config>